main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image-container {
  border-radius: 1rem;
  width: 200px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .image {
    width: 100%;
    max-width: 100%;
  }
}
