<html>
  <head>
    <meta charset="utf-8" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta
      name="description"
      description="{{htmlWebpackPlugin.options.description}}"
      content="some descriptions"
    /><meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    /><script defer src="../bundle.7083713d4fbb8eed3c10.js"></script><link
      href="../styles.db77e49c85d9885e42c8.css"
      rel="stylesheet"
    /></head>
  <body>
  </body>
</html>